<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">


    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
    <!--Fixed header from the _partials/header-->
    <%- include partials/_header %>

    <p>quiz id: <%= newquiz[0].id %></p>

    <div id="maindiv">
    <section id="quizquestions">
      <form action="/newquestion" method="POST">
        <div id="questions">
          <input placeholder="Enter Question" type="text" id="question" name="question"><br><br>
          <input placeholder="Option A" type="text" class="option" id="answerA" name="answerA"><br><br>
          <input placeholder="Option B" type="text" class="option" id="answerB" name="answerB"><br><br>
          <input placeholder="Option C" type="text" class="option" id="answerC" name="answerC"><br><br>
          <input placeholder="Option D" type="text" class="option" id="answerD" name="answerD"><br><br>
          <P>Which answer is correct?</P>
          <input type="radio" id="a0" name="correct_answer0" value='A'>
          <label for="a0">A</label><br>
          <input type="radio" id="b0" name="correct_answer0" value='B'>
          <label for="b0">B</label><br>
          <input type="radio" id="a0" name="correct_answer0" value='C'>
          <label for="c0">C</label><br>
          <input type="radio" id="b0" name="correct_answer0" value='D'>
          <label for="d0">D</label><br>
          <input type="hidden" id="quiz_id" name="quiz_id" value=<%= parseInt(newquiz[0].id) %> >
        </div>
        <form method="POST" action="/newquestions"><button type="submit" id="submit-btn" class="quizzes">Submit</button></form>
      </form>
    </section>
    </div>
    <div class="new-quiz-btns">

      <button type="submit" id="add-question-btn" class="quizzes">Add Another Question</button></form>
  </div>



    <!--Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
